
body {
  background-color: rgb(210, 230, 173);
}

header{
      background-color: green
    } 
    h1 {
      text-align: center;
      }
    h3 {color:blue;} 
      li  {
  display:inline;
}
.img-container {
        text-align: center
      }
li a {
  color: rgb(70, 16, 16);
  text-align: center;
  padding: 20px 150px;
  text-decoration: none;
  display:inline-block ;
  margin: 30px ;
  border:1px solid red;
}