
body {
  background-color: rgb(210, 230, 173);
}

header{
      background-color: hsla(211, 100%, 70%, 0.75)
      } 

h1    {
      text-align: center;
      }
h3    {
      color:rgb(240, 20, 20);
      } 
li    {
  display:inline;
      }

#display_image {

text-align: center
}
.img-container {
  text-align: center
}
.paragraph1 
{
color:rgb(240, 20, 20);
}
li a {
  color: red; ;
  text-align: center;
  padding: 20px 150px;
  text-decoration: none;
  display:inline-block ;
  margin: 30px ;
  border:1px double rgb(165, 42, 42);
}